.active {
  font-weight: bold; }

.profile {
  max-width: 48px;
  max-height: 48px;
  border-radius: 3px; }

.right {
  float: right; }

.align {
  text-align: center; }

.margins {
  margin-top: 1%; }

.weight {
  font-weight: 300; }

.header-weight > h1 {
  font-weight: 100; }

.hidden {
  text-align: center;
  display: none; }

body {
  background-color: #f9f9f9; }
