.active {
	font-weight: bold;
}

.tweet > table {
	background-color: #f9f9f9;
}

.profile {
	max-width: 48px;
	max-height: 48px;
	border-radius: 3px;
}

.right {
	float: right;
}

.align {
	text-align: center;
}